main {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#header 
{
    background: #f2f2f2;
    color: rgba(255, 255, 255, 0.75);
    height: 6.25em;
    left: 0;
    line-height: 4.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
}

#header .logo 
{
    display: inline-block;
    height: inherit;
    left: 1.25em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}


