<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../sass/main.css">
    
    <title>My Super Awesome Template</title>
</head>
<body>
    <div id="container">
        <h2 class="hidden">Container</h2>
    <!--<main></main>-->

    <header id="header">

            <div class="box logo">
                    <img src="../public/images/logo_housecom.svg" alt="Logo" height="100%" width="100%">
                  </div>

            <div class="nav">
                    <nav id="mainNav">
                      <h2 class="hidden">Main Navigation</h2>
                        <button id="button"></button>
                    <div id="burgerCon">
                        <ul id="burgerMenu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Support</a></li>                        
                        </ul>
                  </div>
                </nav>
        
            </div>
                          
    </header>

  
  <header class="hidden deskNav">
        <img src="../public/images/logo_housecom.svg" alt="" class="logo">
        
        <nav id="mainNav">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </nav>
  </header>



    <section id="bannerImage">
        <div class="banner">
            <img src="../public/images/test.jpg" alt="" width="100%">
        </div>
        <a id="shopNow" href="#">Shop Now</a>
    </section>

    <!--Main Content-->

    <section id="infoCircles">
            <h2 class="hidden">Info Circles</h2>
        <div class="circle">
            <img src="../public/images/test.jpg" alt="" height="200px" width="200px">
            <h2>Heading goes here</h2>
            <p>Info text goes here</p>
        </div>

        <div class="circle">
            <img src="../public/images/test.jpg" alt="" height="200px" width="200px">
            <h2>Heading goes here</h2>
            <p>Info text goes here</p>
        </div>
        
        <div class="circle">
             <img src="../public/images/test.jpg" alt="" height="200px" width="200px">
             <h2>Heading goes here</h2>
             <p>Info text goes here</p>
        </div>
    </section>

    <section id="infoSquares">
            <h2 class="hidden">Info Squares</h2>

        <div class="square1 content">
            <div class="square1Text">
                <h2>This is our product</h2>
                <p>we love it so much! we love it so much! we love it so much!</p>
            </div>

            <div class="square1Image">
                <img src="../public/images/placeholder.jpg" alt="" height="300px" width="100%">
            </div>

        </div>

        <div class="square2 content">
                <div class="square2Text">
                    <h2>This is our product</h2>
                    <p>we love it so much! we love it so much! we love it so much!</p>
                </div>
    
                <div class="square2Image">
                    <img src="../public/images/placeholder.jpg" alt="" height="300px" width="100%">
                </div>
    
        </div>

        <div class=" hidden square2Desktop content">

                <div class="square2Image">
                   <img src="../public/images/placeholder.jpg" alt="" height="300px" width="100%">
                </div>
                
                <div class="square2Text">
                    <h2>This is our product</h2>
                    <p>we love it so much! we love it so much! we love it so much!</p>
                </div>
    
        </div>

        <div class="square3 content">
                <div class="square3Text">
                    <h2>This is our product</h2>
                    <p>we love it so much! we love it so much! we love it so much!</p>
                </div>
    
                <div class="square3Image">
                    <img src="../public/images/placeholder.jpg" alt="" height="300px" width="100%">
                </div>
    
        </div>

    </section>

    <footer class="footer">
            <h2 class="hidden">Footer</h2>
        
              <section id="footerMobile">
                <h2 class="hidden">Footer Mobile</h2>
        
                <section id="footerMobileCont">
                  <h2 class="hidden">Footer Mobile Content</h2>
                  <a id="backToTopBut" href="index.html">Back To Top</a>
        
                      <p class="footerCopyRightMobile">©Copyright 2019</p>
                    </section>
        
                  </section>
        
                  <section id="footerDesktop">
                    <h2 class="hidden">Footer Desktop</h2>
        
                    <div class="footerImgBox">
                      <img id="footerLogo" src="images/traa_logo-FOOTER.svg" alt="logo" height="120" width="120">
                    </div>
        
                    <div class="footerNavBox">
                      <nav id="footerNav">
                        <h3 class="hidden">Footer Navigation</h3>
                          <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="past_events.html">Past Events</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="links.html">Links</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                      </nav>
                    </div>
        
                    <div class="footerFormBox">
                      <form class="footerForm" action="index.html" method="post">
                        <p>Sign Up for our Newsletter</p>
                        <input type="email" placeholder="Email"><button id="footerFormBut" type="submit" name="button">Submit</button>
                      </form>
                    </div>
        
                  </section>
        
                </footer>
    </div>
</body>
</html>